# Cache do Python e arquivos compilados (Lixo de compilação)
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes Virtuais (Dependências locais)
venv/
.venv/
env/

# Arquivo de configuração local e credenciais (Segurança)
# .env Geralmente não enviaríamos o .env, mas é necessário para configurar o banco no pc local

# Pastas de configuração de IDEs (Opcional)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj